<form >
    <mat-card class="home mate-elevation-z4">
        <mat-card-title class="title">{{ livro.titulo }}</mat-card-title>
    </mat-card>

    <mat-card class="home mate-elevation-z4">
        <mat-card-subtitle class="subtitle">Por: {{ livro.nome_autor }}</mat-card-subtitle>
        <button (click)="cancel()" mat-stroked-button color="war">
            <mat-icon>keyboard_return</mat-icon> Voltar
        </button>
    </mat-card>

    <mat-card class="home mate-elevation-z4">
        <mat-card-subtitle class="subtitle">{{ livro.texto }}</mat-card-subtitle>
    </mat-card>
</form>